<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css')}}"
    />
  </head>
  <body>
    <h1 class="main-title" >AIRES</h1>
    <h1 class="welcome">Welcome to the AI-Powered Resume Screener</h1>
    <br />
    <p class="use">
      Use this application to upload your resume and match it to job
      descriptions.
    </p>
    <br />
    <a
      href="/upload"
      class="link"
      >UPLOAD RESUME</a
    >
  </body>
</html>
